spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/newswire
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
